
.icon-api:before { content: '\e800'; } /* '' */
.icon-arrow-long:before { content: '\e801'; } /* '' */
.icon-bar-graph:before { content: '\e802'; } /* '' */
.icon-burger:before { content: '\e803'; } /* '' */
.icon-checkmark:before { content: '\e804'; } /* '' */
.icon-clip:before { content: '\e805'; } /* '' */
.icon-diagram:before { content: '\e806'; } /* '' */
.icon-factory:before { content: '\e807'; } /* '' */
.icon-fb:before { content: '\e808'; } /* '' */
.icon-hh:before { content: '\e809'; } /* '' */
.icon-in:before { content: '\e80a'; } /* '' */
.icon-smartphone:before { content: '\e80b'; } /* '' */
